           <h3>Post new question Haha</h1>
           <div class="alert alert-danger hidden" id="post-form-alert"></div>   
            <!-- post window with markdown -->
            <form id="post-form" action="/posting" method="post">
                <div class="form-group col-sm-7">
                    <input class="form-control" name="title" type="text" placeholder="Title?">
                    
                </div>
                <textarea id="inputField" ondragenter='rangeEnterHandler(event)' ondrop='dropHandler(event)' data-width="700" name="body" id="status-box" data-provide="markdown" rows="10"></textarea>
                <label class="checkbox">
                    <input name="publish" type="checkbox"> Publish
                </label>
                <hr/>
                <button type="submit" class="btn">Submit</button>
            </form>
            <!-- endpost window with markdown -->
           
