<form action="/signup" method="POST">
    <div>
        <label>Email:<input type="text" name="email"/></label>
    </div>
    <div>
        <label>First Name:<input type="text" name="fname"/></label>
    </div>
    <div>
        <label>Last Name:<input type="text" name="lname"/></label>
    </div>
    <div>
        <label>Password:<input type="password" name="password"/></label>
    </div>
    <div>
        <input type="submit" value="Sign Up"/>
    </div>
</form>